.white-bg {
  background-color:#ffffff;
}

.pattern-bedge-grunge {
  background: #f2f2f4 url('/assets/imgs/bedge_grunge.png');
}

.wrapper {
  margin: 2rem auto;
}

#masthead .brand {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    padding: 25.5px 20px 29.5px;
    margin-top: 0;
    margin-bottom: 0;
}

#footer {
  margin:1.2rem auto;
}